<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navigator">
    <div id="head-bar">
        <div class="left">
            <div id="header-logo">tumuto</div>
            <div>게시판</div>
            <div>About</div>
        </div>
        <div class="right">
            <!--                <div class="login">-->
            <!--                    <img th:src="@{/images/user.png}">-->
            <!--                </div>-->
            <div class="login">
                <button type="button" id="login-button" class="btn btn-secondary">로그인</button>
            </div>
        </div>
    </div>
</div>
</html>