#content > #join {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

#login-logo {
    font-family: 'GangwonEduPowerExtraBoldA';
    color: #039870;
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
}

#join-content {
    display: grid;
    row-gap: 3rem;
}

.join-line {
    margin-right: auto;
    margin-left: auto;
}

#join-user {
    width: 100px;
}

.join-label {
    font-size: 1rem;
    font-weight: bold;
}

#join-taste {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}
.taste {
    width: 108px;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    display: inline-block;
    border-radius: 1.5rem;
}

#join-button {
    margin-top: 75px;
    padding: 10px 0px;
    width: 100%;
}

.btn-outline-primary {
    --bs-btn-color: #039870;
    --bs-btn-border-color: #039870;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #039870;
    --bs-btn-hover-border-color: #039870;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #039870;
    --bs-btn-active-border-color: #039870;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #039870;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #039870;
    --bs-gradient: none;
}