<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>

<body th:replace="/layout/dashboard :: layout(~{::link},~{::section})">
    <section id="content">
        <div id="logo-box">
            <div id="login-logo">tumuto</div>
            <!-- 네이버 로그인 -->
            <img class="social-login" th:src="@{/images/naver_button.png}">
            <!-- 카카오 로그인 -->
            <img class="social-login" th:src="@{/images/kakao_button.png}">
        </div>
    </section>
</body>
</html>